body {
  background-color: #23252D !important;
}

html a {
  text-decoration: none ;
}

html h2 {
  margin: 0;
}
html p {
  margin: 0;
}
.auth-form {
  width: fit-content;
  height: 100vh;

  margin: auto;

  display: flex;

}
.auth-form .form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  gap: 30px;
  
}

.auth-form input {
  border-radius: 50px;
  border: 3px solid #859BC9;
  background-color: #4155788b;

  font-size: 25px;
  padding: 36px 24px;

  height: 78px;
  width: 100%;

  color: #fff !important;
}

.auth-form input::placeholder {
  color: #fff !important;
}


.auth-form button, .auth-form a.button  {
  width: 300px;
  height: 82px;

  border-radius: 35px;
  
  color: #fff;
  font-size:  32px;

  background-color: #859bc981;
} 


.auth-form a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  font-size: 32px;

  width: 500px;
  height: 82px;
}

.auth-form .postscribe {
  color: #859BC9;
  
  font-size: 25px;
} 

.center {
  margin: auto;
  text-align: center;
}


.title {
  font-size: 48px;
  color: #fff;
  font-weight: 800;
}

.choice-form button {
  width: 505px;
}

.auth-form .postscribe a {
  color: #fff;
  text-decoration: none;
} 

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.all-courses {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-courses .title {
  margin-bottom: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.list >li {
  width: 1205px;
  height: 140px;
  background-color: #2F384B;
  border-radius: 40px;


  display: flex;
  align-items: center;
  
}

.list >li a {
  border-radius: 40px;
  padding: 28px 45px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list >li h2 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}

.list >li p {
  color: #859BC9;
  font-size: 24px;
  font-weight: 700;
}

.header {
  background-color: #4D5870;
  height: 143px;

  display: flex;
  justify-content: space-between;

  color: #97A0CC;
  font-size: 40px;
  font-weight: 600;

  padding: 41px 81px;
}

.header> div {
  width: 100%;
}

.bonuses {
  display: flex;
  justify-content: space-between;
}

.bonuses>div {
  display: flex;
  align-items: center;
}

.bonuses img {
  margin-left: 19px;
}

.bottom-menu {
  width: 1053px;
  height: 143px;

  background-color: #4D5870;
  border-radius: 35px;

  margin: 15px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

.settings {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings ul {
  margin-top: 85px;
}

.settings ul .text {
  margin-left: 37px;
}

.search {
  width: 100%;
  height: 100%;
  background-color: #23252dcc;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__string > input {
  width: 963px;
  height: 120px;

  border-radius: 40px;

  background-color: #2F384B;
  border: 4px solid #859BC9;

  color: #fff;
  font-size: 32px;
  font-weight: 800;

  padding: 40px 84px;

}


.search-courses__column {
  margin-top: 43px;
}

.search__string > input::placeholder {
  color: #97A0CC;
  font-weight: 800;
}

.search {
  display: grid;
  grid-template-columns: auto auto 40px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "left input exit"
    "left courses right";
  gap: 20px;
  place-items: center;
  min-height: 100vh;
}

.search__string {
  grid-area: input;
  justify-self:center;
}

.search__exit {
  grid-area: exit;
  justify-self: start;
  cursor: pointer;
}

.search-courses {
  grid-area: courses;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search__left {
  grid-area: left;
}

.search__right {
  grid-area: right;
}

.course {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 73px;
}

.course-data {
  width: 900px;
}

.course-data__shorty {
  background-color: #2F384B;
  border-radius: 40px;
  margin-left: 37px;
  padding: 20px 22px;
}

.course-descr {
  color: #97A0CC;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  word-break: break-all;
  margin-top: 5px;
}

.course-data__text {
  color: #97A0CC;
  font-weight: 800;
  font-size: 30px;
}

.course-data__image {
  width: 465px;
  height: 472px;
  background-color: #97A0CC;
  border-radius: 40px;
}

.course .course-data .list>li {
  width: 900px;
}

.course .course-data .list {
  padding-left: 0;
}

.course p.title {
  font-size: 32px;
  margin-top: 31px;
}

.bottom-menu a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  border-radius: 50%;
}

/* .bottom-menu .active {
  background-color: #97A0CC;
} */

.searchCourses {
  cursor: pointer;
}